.switch {
  width: 44px;
  height: 24px;
  background-color: var(--grey);
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
  border: 1px solid #353c4a;
  padding: 2px;
  cursor: pointer;

  &[data-istoggled="true"] {
    justify-content: flex-end;

    .handle {
      background-color: var(--primary--pink);
    }
  }

  .handle {
    width: 18px;
    height: 18px;
    background-color: var(--primary--blue);
    border-radius: 20px;
    display: flex;
  }
}
