.layout {
  width: var(--desktop--width);
  position: relative;
  background-image: url("../assets/images/page-bg.png");
  background-size: cover;

  // &::after {
  //   z-index: -1;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   position: absolute;
  //   background-image: url("../assets/images/page-bg.png");
  //   background-size: cover;
  //   content: "";
  //   animation: spin 30s infinite;
  // }

  // @keyframes spin {
  //   0% {
  //     transform: rotate(0);
  //   }
  //   100% {
  //     transform: rotate(360deg);
  //   }
  // }
}
